.site {
    font-family: 'Noto Sans', sans-serif;
    background: #333333;
    color: #fdfdfd;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

/*........................................................................*/
.cabecalho {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    grid-area: cabecalho;
    background: #1f1f1f;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 60%);
}

.menu__lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.menu__item {
    padding: 0 3rem;
    color: #fdfdfd;
    text-decoration: none;
}

.menu__link {
    color: #fdfdfd;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

/*........................................................................*/

.conteudo {
    grid-area: conteudo;
    padding: 1rem 2rem;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.conteudoPrincipal {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
}

.conteudoPrincipal__titulo {
    background: rgba(0, 0, 0, .8);
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.conteudoPrincipal__principal {
    margin: 1rem;
    background: url(../img/rdr2.jpg) center / cover no-repeat;
    grid-row: 1/3;
    grid-column: 1/4;
    border: .15rem solid rgb(15, 145, 20);
    border-radius: .3rem;
    box-shadow: 10px 11px 11px 2px rgb(0 0 0 / 60%);
}

.conteudoPrincipal__principal:hover {
    border: .30rem solid rgb(17, 167, 22);
    transform: scale(105%);
    font-weight: bold;
    font-size: 1.3rem;
}

.conteudoPrincipal__descricao {
    margin: 1rem;
    /*grid-row: 1/3;
    grid-column: 4/5;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudoPrincipal__descricao {
    padding: 1rem;
}

.conteudoPrincipal__descricao___frase {
    /* grid-row: 1/2;
    grid-column: 1/4; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: .8rem;
}

.conteudoPrincipal__descricao___rank {
    /* grid-row: 2/3;
    grid-column: 1/2; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: rgb(15, 145, 20);
}

.conteudoPrincipal__descricao___nome {
    /* grid-row: 2/3;
    grid-column: 2/4; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.conteudoPrincipal__descricao___horas {
    /* grid-row: 3/3;
    grid-column: 1/4; */
    align-items: top;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(15, 145, 20);
}

.conteudoPrincipal__descricao___console {
    /* grid-row: 3/3;
    grid-column: 1/4; */
    font-size: .8rem;
    align-items: top;
    /* margin-top: 3rem; */
}


.conteudoPrincipal__secundario {
    border: .15rem solid rgb(15, 145, 20);
    border-radius: .3rem;
    box-shadow: 12px 13px 9px 2px rgb(0 0 0 / 60%);
}

.conteudoPrincipal__secundario:hover {
    border: .30rem solid rgb(17, 167, 22);
    transform: scale(105%);
    font-weight: bold;
    font-size: 1.3rem;
}

.conteudoPrincipal__secundario:nth-child(3) {
    margin: .5rem;
    background: url(../img/hades.png) center / cover no-repeat;
    grid-column: 1/1;
    grid-row: 3/3;
}

.conteudoPrincipal__secundario:nth-child(4) {
    margin: .5rem;
    background: url(../img/ACOrigins.webp) center / cover no-repeat;
    grid-column: 2/2;
    grid-row: 3/3;
}

.conteudoPrincipal__secundario:nth-child(5) {
    margin: .5rem;
    background: url(../img/dungeons.jpg) center / cover no-repeat;
    grid-column: 3/3;
    grid-row: 3/3;
}

.conteudoPrincipal__secundario:nth-child(6) {
    margin: .5rem;
    background: url(../img/forza.jpg) center / cover no-repeat;
    grid-column: 4/4;
    grid-row: 3/3;
}

/*........................................................................*/

.conteudoSecundario {
    padding: 3rem 0;
}

.conteudoSecundario__cabecalho {
    border-bottom: 1px solid #fdfdfd;
    display: flex;
    justify-content: space-between;
}

.conteudoSecundario__botao {
    background: transparent;
    border: none;
    color: #fdfdfd;
}

.conteudoSecundario__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
    text-align: center;
}

.conteudoSecundario__card {
    display: grid;
    grid-template-areas:
        "card-imagem"
        "card-corpo";
     grid-template-columns: 100%;
     grid-template-rows: 173px auto;
     margin-right: 1rem;
     width: calc(20% - 1rem);
}

.conteudoSecundario__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.conteudoSecundario__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 1fr auto;
    padding: .75rem;
}

.conteudoSecundario__card___titulo {
    font-size: 1.5rem;
    color: rgb(15, 145, 20);
}

.conteudoSecundario__card___descricao {
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}


/*........................................................................*/
.rodape {
    grid-area: rodape;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;
    background: #1f1f1f;
  }
  



