.site {
    font-family: 'Noto Sans', sans-serif;
    background: #333333;
    color: #fdfdfd;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

/*........................................................................*/
.cabecalho {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    grid-area: cabecalho;
    background: #1f1f1f;
    box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 60%);
}

.menu__lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.menu__item {
    padding: 0 3rem;
    color: #fdfdfd;
    text-decoration: none;
}

.menu__link {
    color: #fdfdfd;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

/*........................................................................*/

.conteudo {
    grid-area: conteudo;
    padding: 1rem 2rem;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.conteudoPrincipal {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
}

.conteudoPrincipal__titulo {
    background: rgba(0, 0, 0, .8);
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.conteudoPrincipal__principal {
    margin: 1rem;
    background: url(../img/rdr2.jpg) center / cover no-repeat;
    grid-row: 1/3;
    grid-column: 1/4;
    box-shadow: 8px 8px 2px 2px rgb(12 124 16);
}

.conteudoPrincipal__descricao {
    margin: 1rem;
    grid-row: 1/3;
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudoPrincipal__descricao___item{
    padding: 1rem;
}

.conteudoPrincipal__secundario:nth-child(3) {
    margin: .5rem;
    background: url(../img/hades.png) center / cover no-repeat;
    grid-column: 1/1;
    grid-row: 3/3;
}

.conteudoPrincipal__secundario:nth-child(4) {
    margin: .5rem;
    background: url(../img/ACOrigins.webp) center / cover no-repeat;
    grid-column: 2/2;
    grid-row: 3/3;
}

.conteudoPrincipal__secundario:nth-child(5) {
    margin: .5rem;
    background: url(../img/dungeons.jpg) center / cover no-repeat;
    grid-column: 3/3;
    grid-row: 3/3;
}

.conteudoPrincipal__secundario:nth-child(6) {
    margin: .5rem;
    background: url(../img/forza.jpg) center / cover no-repeat;
    grid-column: 4/4;
    grid-row: 3/3;
}


/*........................................................................*/
.rodape {
    grid-area: rodape;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;
    background: #1f1f1f;
  }
  



