.site {
    font-family: 'Noto Sans', sans-serif;
    background: #333333;
    color: #fdfdfd;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}